.projects-section .section-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    row-gap: 48px;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .projects-section .section-body {
        gap: 8px;
    }

}


@media (max-width: 425px) {
    .projects-section .section-body {
        display: flex;
        gap: 16px;
    }
}