.placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;


}

.spinner-item {
    background-color: var(--primary-color);
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 100%;
    animation: infinite spinner-animation var(--duration) linear var(--delay);
}

@keyframes spinner-animation {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }


    100% {
        transform: scale(0);
    }

}