.long-text-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
    justify-content: end;
}

.long-text-container * {
    width: 100%;
}


#About .long-text-container:nth-child(3) {
    margin-left: 40%;
    text-align: end;
}