@font-face {
    font-family: 'poppins';
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}



:root {
    /* font size */
    --body-font-size: 12pt;
    --small-font-size: calc(var(--body-font-size) * 0.8);

    --parapgraph-font-size: calc(var(--body-font-size) * 1.5);
    --section-title-font-size: calc(var(--body-font-size) * 2);
    --header-font-size: calc(var(--body-font-size) * 2.8);

    /* color */
    --background: #0F0F0F;
    --surface: #1e1e1e;
    --body-text-color: #A7A7A7;
    --border-color: #545454;
    --title-color: #FFFFFF;
    --primary-color: #00B2FF;
    --secondary-color: #127caa;

}

html {
    margin: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html.no-scroll {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    margin: 0%;
    font-family: "poppins";
    font-size: var(--body-font-size);
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--body-text-color);
    letter-spacing: 0.2pt;
}

main {
    display: flex;
    flex-direction: column;
    padding: 64pt;
    gap: 64pt;
}

section {
    padding: 0pt 64pt;
}

p {
    margin: 0%;
}

html {
    scrollbar-color: var(--primary-color) var(--surface);
    scrollbar-width: thin;
}



@media (max-width: 1024px) {
    main {
        padding: 32pt;
    }

    section {
        padding: 32pt;
    }
}


@media (max-width: 425px) {
    main {
        padding: 8pt 8pt 32pt 8pt;
    }

    section {
        padding: 0pt;
    }


    /* add spacing for mobile nav-bar */
    navbar-element {
        height: 50pt;
    }
}