#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-inner-container {
    width: 70%;
}


#Contact form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px auto;
    gap: 3rem 2rem;
    grid-template-areas:
        "name mail"
        "object object";
    height: 300px;
    width: 100%;
}



form .contact-object {
    grid-area: object;

}

form .contact-mail {
    grid-area: mail;

}

form .contact-name {
    grid-area: name;

}

form .contact-name,
form .contact-mail,
form .contact-object {
    display: flex;
    flex-direction: column;

}

form p {
    margin: 5px 0px;
}

form input,
form textarea {
    background-color: rgba(84, 89, 96, 0.564);
    border: none;
    border-radius: 5px;
    resize: none;
    color: white;
    padding: 5px;
    font-family: "poppins";
    width: 100%;
    height: 100%;
}