dialog {
    position: absolute;
    min-height: 300px;
    min-width: 400px;
    max-width: 600px;
    padding: 30px;
    border-radius: 5px;
    border: none;
    background-color: #1d1e1f;
    /* display: grid; */
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.849);
}

dialog button {
    cursor: pointer;
}

dialog .close-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 20px;
    height: 20px;
    padding: 0%;
    border: none;
    background-color: transparent;
}

dialog .close-btn svg {
    width: inherit;
    height: inherit;
}




dialog .action-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: safe;
    align-items: center;
    gap: 1rem;
}

dialog .github-btn,
dialog .download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(46, 87, 118);
    color: white;
    text-decoration: none;
    font-size: 13.3333px;
}

dialog .github-btn svg,
dialog .download-btn svg {
    width: 30px;
    height: 30px;
    filter: invert(0.9);
}


dialog .download-btn {
    background-color: rgb(56, 122, 43);
}


dialog #dialog-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 0px 0px 40px 0px;
}

dialog #dialog-container .project-name {
    font-size: 1.75rem;
    font-weight: 500;
}

dialog #dialog-container .more-info {
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    font-style: italic;
    color: rgb(159, 159, 159);
    width: 100%;
}



/* dialog #dialog-container .project-language {}

dialog #dialog-container .project-framework {} */