#Home {
    display: flex;
    align-items: center;
    justify-content: end;
}

#Home div {
    position: relative;
    text-align: end;
    font-size: 1.6rem;
}



#Home footer {
    --offset: -20px;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 100%;
    right: 40px;
    transform: translate(var(--offset), calc(-100% - 20px));

}

#Home footer svg,
#Home footer img {
    height: 40px;
}