.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
    position: relative;
}


.projects-list::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 1px - 1rem);
    width: 1px;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 10%, rgb(156, 156, 156), rgba(255, 255, 255, 0) 90%);
}

.project-card {
    display: grid;
    width: calc(100% - 2rem - 20px);
    grid-template-areas:
        "name        languages"
        "description description";
    gap: 1rem;
    padding: 10px;
}

.project-card:hover {
    background-color: rgba(255, 255, 255, 0.089);
    cursor: pointer;
    border-radius: 5px;
}

.project-card .project-name {
    grid-area: name;
    color: white;
}

.project-card .project-language {
    font-size: 0.75rem;
    font-style: italic;
    color: rgb(159, 159, 159);
    grid-area: languages;
    width: 100%;
    text-align: end;
}

.project-description {
    grid-area: description;
    color: rgb(159, 159, 159);
    font-size: 0.8rem;


}